* {
    font-family: 'Roboto', sans-serif;
}

/*HEADER*/

header {
    position: relative;
}

nav {
    height: 50px;
    background-color: #212121;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.menu {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    margin: 0;
    list-style-type: none;
    padding: 13px 70px;
}

.menu li {
    padding-right: 28px;
    border-right: black dotted 2px;
}

.menu li:last-child {
    border-right: none;
}

.menu a {
    color: #ffffff;
    font-size: 15px;
    font-weight: 300;
    /*line-height: 68px;*/
}

.subheader {
    /*!!! 1st possibility to make div transparent*/
    position: absolute;
    top: 50px;
    width: 100%;
    height: 84px;
    background-color: rgba(0, 0, 0, 0.6);
}

.subheader_logo {
    max-width: 100%;
}

.logo {
    padding-top: 16px;
}

.caption {
    padding-top: 6px;
    height: 13px;
    opacity: 0.5;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
}

.phonetext {
    text-align: right;
}

.captionphone {
    margin-top: 19px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 0;
}

.subheader_phone {
    /*height: 16px;*/
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
}

.subheader_btn {
    margin: 19px 0;
    height: 46px;
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
    border: none;
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    border-radius: 4px;
}

/*Section PROMO*/

.promo {
    /*2nd posibility to transparent*/
    /*position: relative;*/
    /*margin-top: -84px;*/
    min-height: 100vh;
    /*z-index: -1;*/
    background: url('../img/main_pic.jpg') center center/cover no-repeat;
    text-align: center;
    padding: 150px 0 135px 0;
}

.promo h1 {
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 44px;
    margin-bottom: 0;
    line-height: 48px;
}

.promo h2 {
    color: #ffffff;
    font-weight: 700;
    font-size: 26px;
}

.promo p {
    margin-top: 23px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

.promo_btn {
    display: block;
    margin: 113px auto 0 auto;
    box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 12px 30px;
}

/*Section ADvaNTAGES*/

.advantages {
    margin: 71px auto 80px auto;
}

.label {
    width: 112px;
    margin: 0 auto;
    height: 24px;
    background-color: #000000;
    color: #ffffff;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    padding: 6px 0;
}

.title {
    text-align: center;
    margin-top: 44px;
    color: #222222;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
}

.col-md-6 {
    display: flex;
    flex-flow: nowrap row;
    justify-content: center;
    align-items: center;
    /*border: 2px black dotted;*/
}

.round {
    width: 113px;
    height: 113px;
    background-color: #1eacc7;
    border-radius: 113px;
    margin: 6px 26px 10px 0;
}

.round img {
    padding: 27px 21px;
}

.advant_text h3 {
    margin-top: 6px;
    font-size: 15px;
    color: #1eacc7;
    font-weight: 400;

}

.advant_text p {
    margin-top: -6px;
    color: #202020;
    font-size: 15px;
    line-height: 21px;
    font-weight: 300;
}

